.CookieBanner {
  position: fixed;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  max-width: 600px;
  max-height: 300px;
  z-index: 1000;
  padding: 20px;
  margin: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  color: #fff;
  transform: translate(-50%, -50%);
}

.CookieBanner p {
  color: var(--black);
  font-size: 1.4rem;
}

.CookieBanner h4 {
  color: var(--black);
  font-weight: 600;
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.ButtonPlacer {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.MiniButton {
  padding: 4px 10px;
  height: 30px;
  font-size: 1.3rem;
  margin: 0 10px 0 0;
  background: var(--grey);
  border: 2px solid var(--grey);
}

.AcceptButton {
  margin: 0;

  &:hover {
    background: var(--green);
    border: 1px solid var(--green);
  }
}