.VideoHero {
  position: relative;
  overflow: hidden;
  max-height: 800px;
  min-height: 400px;
}

.VideoHero_VideoContainer {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: lightblue
}

.VideoHero_Video {
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.VideoHero_Overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(rgba(27, 24, 25, 0) 60%, rgba(27, 24, 25, 0.5) 70%, rgba(27, 24, 25, 1) 100%);
  height: 100%;
  width: 100%;
}

.VideoHero_Overlay_Container {
  position: relative;
  max-width: 1600px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.VideoHero_Overlay_Container_Content {
  padding: 40px 20px;
  text-align: left;
}

.VideoHero_Overlay_Container_Content h3 {
  font-size: 2rem;
  letter-spacing: 0.2rem;
  font-weight: 400;
  line-height: 1.2;
  color: white;
}

.ImageHero {
  position: relative;
  overflow: hidden;
  max-height: 800px;
  min-height: 400px;
}

.ImageHero_Container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.ImageHero_Overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(27, 24, 25, 0) 0%, rgba(27, 24, 25, 0.6) 60%, rgba(27, 24, 25, 1) 100%);

  height: 100%;
  width: 100%;
}

.ImageHero_Overlay_Container {
  position: relative;
  max-width: 1600px;
  height: 100%;
  padding: 20px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

@media screen and (max-width: 768px) {
  .VideoHero {
    min-height: 300px;
  }
}