.BrandsBlock {
  padding: 140px 10px;
}

.BrandsBlock_Container {
  max-width: 1400px;
  margin: 0 auto;
}



.ThreeItemBlock {
  padding: 140px 20px;
}

.ThreeItemBlock_Container {
  max-width: 1400px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;

}

.ThreeItemBlock_Container_Item {
  min-height: 400px;
  height: 100%;
  border: 5px solid white;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
  padding: 40px 40px;
}

.ThreeItemBlock_Container_Item:Hover {
  transform: scale(1.03);
}

.ThreeItemBlock_Container_Item_Icon {
  margin-bottom: 40px;
  height: 180px;
}

.ThreeItemBlock_Container_Item_Title {
  font-size: 3rem;
  margin-bottom: 10px;
  line-height: 1.4;
  color: white;
}

.ThreeItemBlock_Container_Item_Text {
  font-size: 1.8rem;
  color: white;
}



.SimpleHeaderTextBlock {
  padding: 0 20px;
}

.SimpleHeaderTextBlock_Container {
  max-width: 1000px;
  margin: 0 auto;
}

.SmoothScrollLogosBlock {
  -webkit-transition-timing-function: linear !important;
  -o-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
  margin: 80px 0;
  padding: 20px 0;
  background: white;
}

.SmoothScrollLogosBlock_Brand {
  width: 100%;
  max-width: 100px;
  margin: 0 auto;
}

.VideoBlock {
  margin: 80px 0;
  padding: 10px;
}

.VideoBlock__Container {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
}

.VideoBlock__Container__Video {
  position: relative;
  aspect-ratio: 16 / 9;
  width: 100% !important;
  max-width: 800px;
  margin: 60px 0 20px 0;
}

@media screen and (max-width: 1200px) {
  .ThreeItemBlock_Container_Item_Icon {
    height: 140px;
  }

  .ThreeItemBlock_Container_Item_Title {
    font-size: 2.5rem;
  }

  .ThreeItemBlock_Container_Item {
    padding: 40px 20px;
    min-height: 380px;
  }
}

@media screen and (max-width: 1000px) {
  .ThreeItemBlock_Container_Item_Icon {
    height: 140px;
  }

  .ThreeItemBlock_Container_Item_Title {
    font-size: 2rem;
  }

  .ThreeItemBlock_Container_Item {
    padding: 40px 20px;
  }
}

@media screen and (max-width: 800px) {
  .ThreeItemBlock_Container {
    grid-template-columns: 1fr;
  }

  .ThreeItemBlock_Container_Item_Icon {
    height: 160px;
  }

  .ThreeItemBlock_Container_Item {
    padding: 40px 20px;
    min-height: 340px;
  }

  .VideoBlock__Container__Video {
    margin: 20px 0 20px 0;
  }

  .VideoBlock {
    margin: 40px 0;
    padding: 10px;
  }
}

/* 
//
//
//
//
//
// Text With Image Block
//
//
//
//
//
*/

.TextWithImageBlock {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.TextWithImageBlock__left {
  position: relative;
  order: 1;
  height: 100%;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* Comes first by default */
}

.TextWithImageBlock__right {
  height: 100%;
  min-height: 400px;
  position: relative;
  order: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* Comes second by default */
}

@media (max-width: 768px) {
  .TextWithImageBlock {
    grid-template-columns: 1fr;
  }

  .TextWithImageBlock__right {
    min-height: 300px;
  }

  .TextWithImageBlock__left {
    min-height: 300px;
  }
}

/* 
//
//
//
//
//
// Latest Studies Block
//
//
//
//
//
*/

.LatestStudiesBlock {
  margin-top: 100px;
  padding: 100px 20px;
  background: white;
  color: var(--black);
}

.LatestStudiesBlock__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  max-width: 1400px;
  margin: 40px auto;
}

.LatestStudiesBlock__grid__item {
  border-radius: 20px;
  border: 4px solid var(--black);
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.LatestStudiesBlock__grid__item__image {
  width: 100%;
  min-height: 380px;
  position: relative;
}

.LatestStudiesBlock__grid__item__content {
  padding: 20px;
  text-align: left;
}

.LatestStudiesBlock__grid__item__content__title {
  width: 100%;
  margin-bottom: 10px;
  min-height: 60px;
  line-height: 1.4;
  display: flex;
  align-items: flex-end;
}

@media screen and (max-width: 800px) {
  .LatestStudiesBlock__grid {
    grid-template-columns: 1fr;
  }
}

/* 
//
//
//
//
//
// Large Image Block
//
//
//
//
//
*/

.LargeImageBlock {
  background: white;
  color: var(--black);
  position: relative;
  height: 60vh;
  min-height: 500px;
}

.LargeImageBlock__image {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.LargeImageBlock__overlay {
  position: absolute;
  z-index: 200;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

.LargeImageBlock__overlay__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}