:root {
  --primary: #1b1819;
  --black: #1b1819;
  --light-grey: #dddddd;
  --grey: #bababa;
  --navy: #25466e;
  --navy-75: #25466ebf;
  --navy-50: #25466e7f;
  --navy-25: #25466e3f;
  --neon: #04D2DF;
  --neon-75: #04D2DFbf;
  --neon-50: #04D2DF7f;
  --neon-25: #04D2DF3f;
  --light-green: #61d272;
  --green: #54af61;
  --green-75: #54af61bf;
  --green-50: #54af617f;
  --green-25: #54af613f;
}

html {
  font-family: var(--font-urbanist);
  box-sizing: border-box;
  font-size: 10px;
  background: var(--primary);
  --swiper-wrapper-transition-timing-function: linear !important;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  line-height: 1;
  color: white;
  font-weight: 400;
  --swiper-theme-color: white;
}

button {
  font-family: var(--font-urbanist);
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  font-weight: 400;
  padding: 6px 20px;
  border-radius: 20px;
  border: 1px solid var(--black);
  background: var(--black);
  color: white;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0 auto;

  p {
    font-family: var(--font-urbanist);
    font-size: 2rem;
  }
}

.button-alt {
  font-family: var(--font-urbanist);
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  font-weight: 400;
  padding: 6px 20px;
  border-radius: 20px;
  border: 1px solid white;
  background: white;
  color: var(--black);
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 10px auto;

  span {
    margin-left: 10px;
    font-size: 1.8rem;
    margin-bottom: 3px;
    margin-right: -6px;
  }

  p {
    font-family: var(--font-urbanist);
    font-size: 2rem;
  }
}

.stripe {
  height: 10px;
  width: 100%;
}

/* 
/
/
/
/
//////////////   Typography ///////////////
/
/
/
/
*/

h1 {
  font-family: var(--font-good-times);
  font-size: 4.6rem;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0.1rem;
}

h2 {
  font-family: var(--font-good-times);
  font-size: 3.2rem;
  font-weight: 300;
  line-height: 1.4;
  letter-spacing: 0.1rem;
}

h3 {
  font-size: 2.8rem;
  font-weight: 200;
  letter-spacing: 0.6rem;
  line-height: 1.4;
}

h4 {
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
}

h5 {
  font-size: 1.8rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}

p {
  font-size: 1.6rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
  line-height: 1.2;
}

a {
  position: relative;
  font-family: var(--font-urbanist);
  font-size: 1.6rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
  text-decoration: none;
  color: var(--black);
}

.tile-title {
  font-size: 1.8rem;
  line-height: 1.2;
}



@media screen and (max-width: 600px) {
  h1 {
    font-size: 3.6rem;
  }

  h2 {
    font-size: 2.4rem;
  }

  h3 {
    font-size: 2.2rem;
  }

  h4 {
    font-size: 1.8rem;
  }

  h5 {
    font-size: 1.8rem;
  }
}

/* 
/
/
/
/
//////////////   Form Styling ///////////////
/
/
/
/
*/

form {
  margin: 20px auto;
}

label {
  margin: 0 0 0 20px;
  font-size: 1.5rem;
  font-style: italic;
}

input {
  font-family: var(--font-urbanist);
  background: white;
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.12rem;
  padding: 16px 20px;
  margin-top: 20px;
  border-radius: 30px;
  border: none;
  width: 80vw;
  max-width: 400px;
}

textarea {
  font-family: var(--font-urbanist);
  background: white;
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.12rem;
  padding: 16px 20px;
  margin-top: 20px;
  border-radius: 30px;
  border: none;
  width: 80vw;
  max-width: 400px;
  min-height: 200px;
}

select {

  /* styling */

  /* reset */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.dark-divider {
  background: var(--black);
  height: 2px;
}

.light-divider {
  background: var(--grey);
  height: 1px;
}

.white-divider {
  background: white;
  height: 1px;
}


/* 
/
/
/
/
////////////// Swiper Styling ///////////////
/
/
/
/
*/

.swiper-button-next {
  margin-right: 14px;
}

.swiper-button-prev {
  margin-left: 14px;
}