.BannerContainer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--primary);
  border-top: 2px solid var(--neon);
  padding: 2.4rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 9999;
  box-shadow: 0 -10px 30px rgba(0, 0, 0, 0.5);
  text-align: left;
}

.TextContainer {
  max-width: 800px;
  margin-bottom: 2.4rem;
}

.TextContainer h3 {
  color: var(--neon);
  font-size: 1.5rem;
  margin-bottom: 1.2rem;
  font-family: var(--font-good-times); /* Tying into your brand typography */
}

.TextContainer p {
  color: var(--light-grey);
  line-height: 1.2;
  margin: 0;
  font-size: 1.2rem;
}

.ButtonGroup {
  display: flex;
  gap: 1.6rem;
  flex-wrap: wrap;
  justify-content: center;
}

.MiniButton {
  padding: 8px 20px;
  margin: 0;
  background: var(--black);
  border: 1px solid var(--grey);
  color: var(--grey);
  cursor: pointer;
  font-size: 1rem;

  transition:
    background-color 0.3s,
    border-color 0.3s;
}

.MiniButton p {
  font-size: 1.3rem;
}

.AcceptButton {
  background: var(--neon);
  border: 1px solid var(--neon);
  color: var(--black);

  &:hover {
    background: var(--neon-light);
    border-color: var(--neon-light);
  }
}

.AcceptButton p {
  font-size: 1.5rem;
}

@media screen and (min-width: 768px) {
  .BannerContainer {
    flex-direction: row;
    padding: 2.4rem 4rem;
  }
  .TextContainer {
    margin-bottom: 0;
    margin-right: 4rem;
  }
}
