.HeaderBar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  color: #fff;
  height: 80px;
  width: 100%;
  background: var(--black);
}

.HeaderBar_Container {
  position: relative;
  max-width: 1600px;
  padding: 0 20px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.HeaderBar_Container_Left {
  position: relative;
  z-index: 1001;
}

.HeaderBar_Container_Logo_Placer {
  position: absolute;
  top: 10px;
  left: 0;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.HeaderBar_Container_Logo {
  height: 40px;

}

.HeaderBar_Container_Right {
  position: relative;
  z-index: 1001;
}

/* 
//
//
//
//
//
//// Left Navigation
//
//
//
//
//
*/

.LeftNav {
  /* position: relative; */
}

.LeftNav_UL {
  /* position: relative; */
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding-left: 20px;
}

.LeftNav_LI {
  position: relative;
}

/* 
//
//
//
//
//
//// Right Navigation
//
//
//
//
//
*/

.RightNav {
  display: flex;
  gap: 40px;
}

.RightNav_UL {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding-right: 20px;
}

.RightNav_LI {}

.RightNav_Socials {
  display: flex;
  gap: 6px;
  justify-content: center;
  align-items: center;
}

.RightNav_Socials_Link {
  margin: 0;
  padding: 0;
  height: auto;
  width: auto;

}

.RightNav_Socials_Icon {
  height: 30px;
  width: 30px;
}

.RightNav_Contact {
  display: flex;
  gap: 6px;
  justify-content: center;
  align-items: center;
}

.RightNav_Contact_Link {
  margin: 0;
  padding: 0;
  height: auto;
  width: auto;

}

.RightNav_Contact_Icon {
  height: 40px;
  width: 40px;
}

/* 
//
//
//
//
//
//// Lower Header Bar
//
//
//
//
//
*/

.LowerHeaderBar {
  position: fixed;
  top: 80px;
  width: 100%;
  z-index: 800;
  padding: 10px 0;
}

.LowerHeaderBar_Container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.LowerHeaderBar_UL {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.LowerHeaderBar_LI {
  font-size: 1.7rem;
  font-weight: 400;
  color: white;
  letter-spacing: 0.1rem;
}

.LowerHeaderBar_LI_Link {
  font-size: 1.7rem;
  font-weight: 400;
  color: white;
  letter-spacing: 0.1rem;
}

.Dropdown_Container {
  position: relative;
  max-width: 1600px;
  margin: 0 auto;
}

.LowerHeaderBar_Dropdown {
  position: absolute;
  overflow: hidden;
  top: 10px;
  right: 20px;
  background: white;
}

.LowerHeaderBar_Dropdown_UL {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
}

.LowerHeaderBar_Dropdown_LI {}

.LowerHeaderBar_Dropdown_LI_Link {
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  transition: all ease 0.3s;
}

.LowerHeaderBar_Dropdown_LI_Link:hover {

  font-weight: 600;
}