.HeaderBar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  color: #fff;
  height: 80px;
  width: 100%;
  background: var(--black);
  box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.1);
}

.HeaderBar_Container {
  position: relative;
  max-width: 1600px;
  padding: 0 20px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.HeaderBar_Container_Left {
  position: relative;
  z-index: 1001;
}

.HeaderBar_Container_Logo_Placer {
  position: absolute;
  top: 10px;
  left: 0;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.HeaderBar_Container_Logo {
  height: 40px;

}

.HeaderBar_Container_Right {
  position: relative;
  z-index: 1001;
}

/* 
//
//
//
//
//
//// Left Navigation
//
//
//
//
//
*/

.LeftNav {
  /* position: relative; */
}

.LeftNav_UL {
  /* position: relative; */
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding-left: 20px;
}

.LeftNav_LI {
  position: relative;
}

/* 
//
//
//
//
//
//// Right Navigation
//
//
//
//
//
*/

.RightNav {
  display: flex;
  gap: 40px;
}

.RightNav_UL {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding-right: 20px;
}

.RightNav_LI {}

.RightNav_Socials {
  display: flex;
  gap: 6px;
  justify-content: center;
  align-items: center;
}

.RightNav_Socials_Link {
  margin: 0;
  padding: 0;
  height: auto;
  width: auto;

}

.RightNav_Socials_Icon {
  height: 30px;
  width: 30px;
}

.RightNav_Contact {
  display: flex;
  gap: 6px;
  justify-content: center;
  align-items: center;
}

.RightNav_Contact_Link {
  margin: 0;
  padding: 0;
  height: auto;
  width: auto;

}

.RightNav_Contact_Icon {
  height: 40px;
  width: 40px;
}

/* 
//
//
//
//
//
//// Right Navigation Mobile
//
//
//
//
//
*/

.RightNavMobile {
  display: flex;
  gap: 0px;
  flex-direction: column;
}

.RightNav_Socials_Icon_Mobile {
  height: 24px;
  width: 24px;
}

/* 
//
//
//
//
//
//// Lower Header Bar
//
//
//
//
//
*/

.LowerHeaderBar {
  position: fixed;
  top: 80px;
  width: 100%;
  z-index: 800;
  padding: 10px 0;
  height: 42px;

}

.LowerHeaderBar_Container {
  max-width: 1600px;
  height: 100%;
  margin: 0 auto;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.LowerHeaderBar_UL {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.LowerHeaderBar_LI {
  font-size: 1.7rem;
  font-weight: 400;
  color: white;
  letter-spacing: 0.1rem;
}

.LowerHeaderBar_LI_Link {
  font-size: 1.7rem;
  font-weight: 400;
  color: white;
  letter-spacing: 0.1rem;
}

.Dropdown_Container {
  position: relative;
  max-width: 1600px;
  margin: 0 auto;
}

.LowerHeaderBar_Dropdown {
  position: absolute;
  overflow: hidden;
  top: 10px;
  right: 20px;
  background: white;
}

.LowerHeaderBar_Dropdown_UL {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
}

.LowerHeaderBar_Dropdown_LI {}

.LowerHeaderBar_Dropdown_LI_Link {
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  transition: all ease 0.3s;
}

.LowerHeaderBar_Dropdown_LI_Link:hover {

  font-weight: 600;
}

.LowerHeaderBar_Select {
  font-family: var(--font-urbanist);
  font-weight: 500;
  font-size: 1.6rem;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  padding: 6px 20px;
  margin: -8px -20px;
  border-radius: 20px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  background: var(--black);
  color: white;
  text-align: right;
}

@media screen and (max-width: 1000px) {}

@media screen and (max-width: 700px) {
  .LowerHeaderBar_Container_Left_Title {
    display: none;
  }
}

/* 
//
//
//
//
//
//// Mobile Nav Dock
//
//
//
//
//
*/

.BaseBar {
  position: fixed;
  bottom: 10px;
  left: 10px;
  height: 60px;
  width: calc(100vw - 20px);
  /* max-width: 1000px; */
  /* border-top: 1px solid var(--primary-500); */
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  background: white;
  z-index: 2000;
  overflow: hidden;
}

.BaseBar__Nav {
  height: 60px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
}

.BaseBar__Nav__Li {
  list-style-type: none;
  padding: 6px 0 0;
}

.BaseBar__Nav__Item__Text {
  font-size: 1rem;
  font-weight: 800;
  margin-top: 0px;
}

.BaseBar__Nav__Item__Text__InActive {
  font-size: 1rem;
  font-weight: 500;
  margin-top: 0px;
  color: #959595;
  letter-spacing: 0.1rem;
}

.BaseBar__Nav__Item__NewEraLogo {
  animation: heartbeat 4s infinite ease-in-out;
  -webkit-animation: heartbeat 4s infinite ease-in-out;
  -moz-animation: heartbeat 4s infinite ease-in-out;
  -o-animation: heartbeat 4s infinite ease-in-out;
  -ms-animation: heartbeat 4s infinite ease-in-out;
}