.Footer {
  margin: 60px auto;
  padding: 20px;
}

.Footer_Container h4 {
  color: var(--black);
  margin-bottom: 10px;
}

.Footer_Container_Contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin: 30px auto;
  max-width: 1000px;
}

.Footer_Container_Contact_Add {
  background: white;
  padding: 40px 20px;
  text-align: left;
  color: var(--black);
}

.Footer_Container_Contact_GIT {
  background: white;
  padding: 40px 20px;
  text-align: left;
  color: var(--black);
}

.Footer_Lower {
  padding: 100px 20px 20px;
  margin: 0 auto;
  max-width: 800px;
}

.Footer_Lower p {
  font-size: 1.4rem;
}