/* 
//
//
//
//
//  SOLAR STYLES
//
//
//
//
//
*/

.Solar__GAQ {
  padding: 30px 20px 0px;
  /* background: blue; */
}

.Solar__GAQ__Header {
  height: 80px;
}

.Solar__GAQ__Container {
  height: calc(100% - 90px);
  /* background: red; */
}

.GetAQuotePage__Button {
  background: white;
  height: 100%;
  width: 100%;
  color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0px 20px rgba(255, 255, 255, 0.3);
}

.GetAQuotePage__GAQ__View1__Button {
  background: white;
  height: 100%;
  width: 100%;
  color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0px 20px rgba(255, 255, 255, 0.3);
}

.GetAQuotePage__GAQ__View1__Button {
  background: white;
  height: 100%;
  width: 100%;
  color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0px 20px rgba(255, 255, 255, 0.3);
}

.GetAQuotePage__GAQ__View1__Button_Repair {
  background: white;
  height: 100%;
  width: 100%;
  color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0px 20px rgba(255, 255, 255, 0.3);
}

.Upper_Button {
  grid-area: upper;
}

.Middle_L_Button {
  grid-area: middle-left;
}

.Middle_R_Button {
  grid-area: middle-right;
}

.Lower_Button {
  grid-area: lower;
}

.GetAQuotePage__Button_Icon {
  max-height: 80px;
  margin-bottom: 20px;
}

.GetAQuotePage__Button_Icon_P10 {
  max-height: 60px;
  margin-bottom: 10px;
}

.GetAQuotePage__Button_Text {
  font-size: 2.6rem;
  line-height: 1.4;
}

.GetAQuotePage__Button_Text_SM {
  font-size: 1.6rem;
  line-height: 1.4;
}

.Solar__GAQ__Sector__Container {
  height: calc(100% - 90px);
  display: grid;
  gap: 20px;
  grid-template-rows: 1fr 1fr;
}

.Solar__GAQ__View1__Container {
  margin-top: 20px;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 2fr 1fr;
  grid-template-areas:
    "upper-left upper-right"
    "middle-left middle-right"
    "lower lower";
  height: calc(100% - 140px);
}

.Solar__GAQ__View10__Container {
  height: calc(100% - 130px);
  display: grid;
  gap: 20px;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  max-width: 1400px;
  margin: 20px auto 0;
}

.Solar__GAQ__View2__Container {
  height: calc(100% - 130px);
  margin-top: 20px;
  display: grid;
  gap: 20px;
  grid-template-rows: 1fr 1fr;
}

.Solar__GAQ__View4__Container {
  height: calc(100% - 130px);
  margin-top: 20px;
  display: grid;
  gap: 20px;
}

.Solar__GAQ__FormView__Container {
  height: calc(100% - 100px);
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media screen and (min-width: 800px) {

  .Solar__GAQ__Sector__Container {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    height: calc(100% -90px);
    align-items: center;
  }

  .Solar__GAQ__Container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Solar__GAQ__View1__Container {
    position: relative;
    margin-top: 20px;
    overflow: hidden;
    display: grid;
    gap: 20px;
    align-items: center;
  }

  .Solar__GAQ__View10__Container {
    margin-top: 20px;
    display: grid;
    gap: 20px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
  }

  .Solar__GAQ__View2__Container {
    max-width: 1300px;
    margin: 20px auto 0;
    display: grid;
    gap: 20px;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .GetAQuotePage__Button_V10 {
    height: 100%;
  }

  .GetAQuotePage__Button {
    max-height: 400px;
  }

  .GetAQuotePage__Button_Icon {
    max-height: 120px;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1000px) {
  .Solar__GAQ__Sector__Container {
    gap: 40px;
  }

  .GetAQuotePage__Button_Text {
    font-size: 3.6rem;
  }
}